@extern('header')

<head>
    <link rel="stylesheet" href="views/static/css/perfil.css">
</head>
    <div class="container">
        <div class="header">
            <div class="profile-picture">
                <img src="views/static/img/maproom/sebastian.jpg" alt="Profile Picture">
            </div>
            <div class="info">
                <h1>Choque Sebastian</h1>
                <p>18 AÑOS</p>
            </div>
            <div class="about-me">
                <h2>Sobre Mi</h2>
                <p>Soy Sebastián Choque y me recibí con título primario en el instituto José Hernández</p>
            </div>
        </div>
        <div class="content">
            <div class="description">
                <h2>Descripcion</h2>
                <p>Actual estudiante en el Centro de Formacion Profesional 401, con Subsede en la E.E.S.T. N°3</p>
            </div>
            <div class="contact">
                <h2>Contactame</h2>
                <div class="dropdown">
                    <button id="dropbtn" class="dropbtn">Formas de contacto</button>
                    <div id="dropdown-content" class="dropdown-content">
                      <a href="mailto:sebachoque03@gmail.com">Gmail</a>
                      <a href="https://www.instagram.com/Sebastian_nicolas24/">Instagram</a>
                    </div>
                  </div>
            </div>
            <div class="description">
                <h2>Conocimientos</h2>
                <p>Tengo experiencia sobre JavaScript, PHP, Css, Java, HTML, Base de datos, Python, entre otros.</p>
                <div class="p10top">
                    <h2>Regresar pantalla anterior</h2>
                    <a href="nosotros">
                        <button class="btnVolver">
                            Volver
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>