<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado de Solicitud</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/estadoSolicitud.css">

</head>
<body>
    <!-- NAVEGADOR HTML -->
    <div class="cont-navegador">
        <header>
            <div class="nav">
                <div class="img">Logotipo</div>
                <ul>
                    <li><a href="#">as</a></li>
                    <li><a href="#">as</a></li>
                    <li><a href="#">as</a></li>
                    <li><a href="#">as</a></li>
                    <li><a href="#">as</a></li>
                </ul>
            </div>
            <div class="nav-responsive">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
    </div>
    <section class="restaurantes">
    <article class="resto">
        <div class="imagen_resto">
        </div>
        <div class="desc_resto">
            <h3>La tablita</h3>
            <h5 class="gris_txt">
                <p>Panamericana km 46,5</p>
                <p>9:00- 23hs</p>
            </h5>
            <div class="precio_val">
                <div class="valoraciones verde_txt">
                    <i class="material-icons-outlined f16">star</i>
                    <i class="material-icons-outlined f16">star</i>
                    <i class="material-icons-outlined f16">star_half</i>
                    (72)
                </div>
                <div class="precio">
                    <i class="material-icons-outlined f16">star</i>
                    <i class="material-icons-outlined f16">star</i>
                    <i class="material-icons-outlined f16 gris_txt">star_half</i>
                </div>
            </div>
            <div class="puntuacion f20">4.7</div>
        </div>
        <div class="distancia">3km</div>
    </article>
    </section>
</body>
</html>