@extern('header')

<head>
    <link rel="stylesheet" href="views/static/css/perfil.css">
</head>
    <div class="container">
        <div class="header">
            <div class="profile-picture">
                <img src="views/static/img/maproom/rubenFerraris_Founder.jpeg" alt="Profile Picture">
            </div>
            <div class="info">
                <h1>Ferraris Ruben</h1>
                <p>18 AÑOS</p>
            </div>
            <div class="about-me">
                <h2>Sobre Mi</h2>
                <p>...</p>
            </div>
        </div>
        <div class="content">
            <div class="description">
                <h2>Descripcion</h2>
                <p>...</p>
            </div>
            <div class="contact">
                <h2>Contactame</h2>
                <div class="dropdown">
                    <button id="dropbtn" class="dropbtn">Formas de contacto</button>
                    <div id="dropdown-content" class="dropdown-content">
                      <a href="https://www.instagram.com/dillpick201/">Instagram</a>
                    </div>
                  </div>
            </div>
            <div class="description">
                <h2>Conocimientos</h2>
                <p>...</p>
                <div class="p10top">
                    <h2>Regresar pantalla anterior</h2>
                    <a href="nosotros">
                        <button class="btnVolver">
                            Volver
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>