<section class="footer" id="footer">
    <div class="social">

      <a class="iconI" href="https://www.instagram.com/maproom_corp/"
        onclick="alert('Usted esta ingresando al Instagram de Maproom')" target="_blank"><i class="fab fa-instagram"></i></a>

      <a  class="iconY" href="https://www.youtube.com/channel/UCCSaHQhZ2OXz7Ux3PH7FxFw"
        onclick="alert('Usted esta ingresando al YouTube de Maproom')" target="_blank"><i class="fab fa-youtube"></i></a>

      <a  class="iconX" href="https://x.com/maproom_corp"
        onclick="alert('Usted esta Estas ingresando al X ( Antiguamente Twitter ) de Maproom')" target="_blank"><i class="fab fa-x-twitter"></i></a>

      <a class="iconF" href="#" onclick="alert('Usted esta Estas ingresando al Facebook de Maproom')"><i class="fab fa-facebook-f"></i></a>

    </div>

    <ul class="list">
      <!--
      <li>
        <a href="#nosotros">Nosotros</a>
      </li>
      -->
      <li>
        <a href="nosotros">Fundadores</a>
      </li>
      <li>
        <a href="#servicios">Servicios</a>
      </li>
      <li>
        <a href="soporte">Soporte y Atencion al cliente</a>
      </li>
      <li>
        <a href="tyc">Terminos y Condiciones</a>
      </li>
      <li>
        <a href="#">Política de Privacidad</a>
      </li>
    </ul>
    <p class="copyright"> &copy; 2024 Maproom</p>
  </section>
</body>
</html>