@extern('header')

<head>
    <link rel="stylesheet" href="views/static/css/perfil.css">
</head>
    <div class="container">
        <div class="header">
            <div class="profile-picture">
                <img src="views/static/img/maproom/augustoGonzalez_Founder.jpeg" alt="Profile Picture">
            </div>
            <div class="info">
                <h1>Gonzalez Augusto</h1>
                <p>18 AÑOS</p>
            </div>
            <div class="about-me">
                <h2>Sobre Mi</h2>
                <p>¿ Que tal ? soy Gonzalez Augusto. <b>Amante de los animales.</b> <br> Soy una persona con mirada al futuro constantemente. <br> Espero disfutes de nuestra app!</p>
            </div>
        </div>
        <div class="content">
            <div class="description">
                <h2>Descripcion</h2>
                <p>Recibido con titulo primario en Nuestra Señora del Fatima. <br> 
                Actual estudiante en el Centro de Formacion Profesional 401, con Subsede en la E.E.S.T. N°3. <br> Y miembro de esta maravillosa comunidad Roberto Arlt, estudiante de la Tecnica N°3 en Malvinas Argentina. 
                <br> <b>¡ No dudes en ponerte en contacto si deseas un socio para tu proyecto !</b> </p>
            </div>
            <div class="contact">
                <h2>Contactame</h2>
                <div class="dropdown">
                    <button id="dropbtn" class="dropbtn">Formas de contacto</button>
                    <div id="dropdown-content" class="dropdown-content">
                      <a href="mailto:augusto.gonzalez808@gmail.com">Gmail</a>
                      <a href="https://www.linkedin.com/in/augusto-gonzalez-20832a295/">Linkedin</a>
                      <a href="https://www.instagram.com/cessar.glz/">Instagram</a>
                      <a href="#">Portafolio web (En construccion)</a>
                    </div>
                  </div>
                
            </div>
            <div class="description">
                <h2>Conocimientos</h2>
                <p>Cuento con experiencia sobre Java, Javascript, Base de Datos, PHP, HTML(Estructura de paginas WEB), CSS, Entre otros lenguajes de programacion. Al igual tengo un proyecto en Unity de un juego 2D</p>
                <div class="p10top">
                    <h2>Regresar pantalla anterior</h2>
                    <a href="nosotros">
                        <button class="btnVolver">
                            Volver
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>