@extern('header')
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="views/static/css/ingreso.css">
</head>

    <section class="container">
        <article class="carta">
            <header class="cabezal">
                <div class="cabezal-superior box">
                    <h1>WELCOME</h1>
                    
                </div>

                <div class="cabezal-inferior box">
                    <div class="logo"></div>
                    <div class="company">
                        <h1>MAPROOM</h1>
                        <h3>Si te perdiste, Maproom te guía</h3>
                    </div>
                </div>
            </header>
            <main class="cuerpo">
                <form action="">
                    <a href="login"class="boton-click">
                        Iniciar Sesion
                    </a>
                    <a href="register" class="boton-click">
                        Registrarse
                    </a>
                </form>
            </main>
            <footer class="pie">
                <div class="pie-superior">
                    Sign in with Social Media
                </div>
                <div class="pie-inferior">
                    <a class="fa-brands fa-whatsapp" href="#"></a>
                    <a class="fa-brands fa-instagram" href="#"></a>
                    <a class="fa-regular fa-envelope" href="#"></a>
                </div>
            </footer>
        </article>
        
    </section>
</body>
</html>