<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/static/css/loading.css">
    <title>Efecto de Carga</title>
</head>

<body>
    <!-- <h1>Cargando...</h1> -->
    <div class="fondo">
        <div class="container">
            <img src="views/static/img/maproom/maproom_icono.png" alt="Cargando..." class="image">
            <div class="shadow"></div>
        </div>
    </div>
    <!-- <p>Por favor, espera un momento mientras cargamos la información.</p> -->
</body>

</html>