@extern('header')

<head>
    <link rel="stylesheet" href="css/contraseña_olvidada.css">
</head>

    <section class="container">
        <article class="carta">
            <header class="cabezal">
                <div class="img"></div>
            </header>
            <main class="cuerpo">
                <form>
                    <div class="box">
                        <p class="subtitulo">NUEVA CONTRASEÑA</p>
                    </div>
                    <div class="box">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis corporis repellat vel
                            repellendus distinctio dsadqewr qew erewrewr ew ewr ew erewrew rewrewrew</p>
                    </div>
                    <div class="box">
                        <div class="input-box">
                            <input type="password" name="password" id="password" required>
                            <label for="password">Ingresar la nueva contraseña</label>
                        </div>
                        <div class="input-box">
                            <input type="password" name="password2" id="password2" required>
                            <label for="password">Ingresar nuevamente la contraseña</label>
                        </div>
                    </div>
                    <div class="box">
                        <button class="boton-click" type="submit" name="accion" value="new-password-php">Cambiar Contraseña</button>
                    </div>
                </form>
            </main>
        </article>
    </section>

</body>

</html>