@extern('header')
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/static/css/nosotros.css">
    <link rel="icon" href="https://img.icons8.com/ios/452/warning-shield.png" type="image/x-icon">
    <title>MapRoom | Desarrolladores</title>
</head>

    <div class="contSuperior">
        <div class="titles">
            <div class="txtIzquierda">
                <h1>Fundadores</h1>
            </div>
            <!-- <div class="txtIzquierda">
                <h1>Instructor: Fernando Gonzalez</h1>
            </div> -->
            <div class="txtDerecha">
                <h1>
                    MapRoom
                </h1>
            </div>
            
        </div>
    </div>
    <div class="contInferior">
        <div class="contMiembros">
            <div class="cardMiembro">
                <div class="imgMiembro">
                    <img src="views/static/img/maproom/tobiasAragon_Founder.jpeg" alt="Aragon Tobias">
                </div>
                <div class="nameMiembro">
                    <h3>Aragon Tobias</h3>
                </div>
                <a href="aragon">
                    <button class="btnContac">
                    Ver perfil
                    </button>
                </a>
            </div>
            <div class="cardMiembro">
                <div class="imgMiembro">
                    <img src="views/static/img/maproom/sebastian.jpg" alt="Choque Sebastian">
                </div>
                <div class="nameMiembro">
                    <h3>Choque Sebastian</h3>
                </div>
                <a href="choque">
                    <button class="btnContac">
                    Ver perfil
                    </button>
                </a>
            </div>
            <div class="cardMiembro">
                <div class="imgMiembro">
                    <img src="views/static/img/maproom/augustoGonzalez_Founder.jpeg" alt="Gonzalez Augusto">
                </div>
                <div class="nameMiembro">
                    <h3>Gonzalez Augusto</h3>
                </div>
                <a href="gonzalez">
                    <button class="btnContac">
                    Ver perfil
                    </button>
                </a>
            </div>
            <div class="cardMiembro">
                <div class="imgMiembro">
                    <img src="views/static/img/maproom/rubenFerraris_Founder.jpeg" alt="Ferraris Ruben">
                </div>
                <div class="nameMiembro">
                    <h3>Ferraris Ruben</h3>
                </div>
                <a href="ferraris">
                    <button class="btnContac">
                    Ver perfil
                    </button>
                </a>
            </div>
            <div class="cardMiembro">
                <div class="imgMiembro">
                    <img src="views/static/img/maproom/joaquinDominguez_Founder.jpeg" alt="Dominguez Joaquin">
                </div>
                <div class="nameMiembro">
                    <h3>Dominguez Joaquin</h3>
                </div>
                <a href="dominguez">
                    <button class="btnContac">
                    Ver perfil
                    </button>
                </a>
            </div>
        </div>
         <div class="volver">
                <a href="landing">
                    <button class="btnVolver">
                    Inicio
                    </button>
                </a>
            </div>
    </div>
</body>
</html>