@extern('header')
<head>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="views/static/css/panelAdmin.css">
</head>

@extern('navbar')
    <div class="proyectos">
      <div class="proyectosTitle">Panel <u>Maproom</u> | {{NOMBRE}} {{APELLIDO}}</div>
      <div class="contProyectos">

          <div class="carta" onclick="location.href='#'">
            <div class="iconoCarta">
                <span class="material-symbols-outlined iconoTamaPanelMenu">
                    save
                </span>
            </div>
            <div class="contenidoCarta">
                <h2>Gestionar instituciones</h2>
            </div>
        </div>
        <div class="carta" onclick="location.href='#'">
            <div class="iconoCarta">
                <span class="material-symbols-outlined iconoTamaPanelMenu">
                    save
                </span>
            </div>
            <div class="contenidoCarta">
                <h2>Ver solicitudes</h2>
            </div>
        </div>
        <div class="carta" onclick="location.href='#'">
            <div class="iconoCarta">
                <span class="material-symbols-outlined iconoTamaPanelMenu">
                    save
                </span>
            </div>
            <div class="contenidoCarta">
                <h2>Opcion</h2>
            </div>
        </div>
        <div class="carta" onclick="location.href='#'">
            <div class="iconoCarta">
                <span class="material-symbols-outlined iconoTamaPanelMenu">
                    save
                </span>
            </div>
            <div class="contenidoCarta">
                <h2>Opcion</h2>
            </div>
        </div>
        <div class="carta" onclick="location.href='#'">
            <div class="iconoCarta">
                <span class="material-symbols-outlined iconoTamaPanelMenu">
                    save
                </span>
            </div>
            <div class="contenidoCarta">
                <h2>Opcion</h2>
            </div>
        </div>
        <div class="carta" onclick="location.href='#'">
            <div class="iconoCarta">
                <span class="material-symbols-outlined iconoTamaPanelMenu">
                    save
                </span>
            </div>
            <div class="contenidoCarta">
                <h2>Opcion</h2>
            </div>
        </div>
      </div>
      
  </div>
  </div>


</body>

</html>