@extern('header')


<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="views/static/css/panelAdmin.css">
</head>

    <div id="header">
        <div id="cont__header">
            <div id="logo__header">
                <a class="menu" href="">
                    <span class="material-symbols-outlined iconoTamaPanelHead">
                        menu
                    </span>
                </a>
                <div class="txtMenu">
                    <p>MapRoom</p>
                </div>
            </div>
            <div id="txt__header">

                <a class="menuDerecha" href="">Name Institucion</a>
                <hr>
                <a class="menuDerecha" href="">Name Admin</a>
                <hr>
                <a class="menuDerecha" href="">
                    <span class="material-symbols-outlined iconoTamaPanelHead">
                        power_settings_new
                    </span>
                </a>
            </div>
        </div>
    </div>
        <div class="proyectos">
            <div class="proyectosTitle">Bienvenido al Panel de administrador</div>
            <div class="contProyectos">
                <div class="carta" onclick="location.href='#'">
                    <div class="iconoCarta">
                        <span class="material-symbols-outlined iconoTamaPanelMenu">
                            group
                        </span>
                    </div>
                    <div class="contenidoCarta">
                        <h2>Gestionar  Selectos</h2>
                    </div>
                </div>

                <div class="carta" onclick="location.href='#'">
                    <div class="iconoCarta">
                        <span class="material-symbols-outlined iconoTamaPanelMenu">
                            manage_accounts
                        </span>
                    </div>
                    <div class="contenidoCarta">
                        <h2>Gestionar  Administradores</h2>
                    </div>
                </div>

                <div class="carta" onclick="location.href='#'">
                    <div class="iconoCarta">
                        <span class="material-symbols-outlined iconoTamaPanelMenu">
                            map
                        </span>
                    </div>
                    <div class="contenidoCarta">
                        <h2>Gestionar  Mapa</h2>
                    </div>
                </div>

                <div class="carta" onclick="location.href='#'">
                    <div class="iconoCarta">
                        <span class="material-symbols-outlined iconoTamaPanelMenu">
                            devices
                        </span>
                    </div>
                    <div class="contenidoCarta">
                        <h2>Panel  Dispositivos</h2>
                    </div>
                </div>

                <div class="carta" onclick="location.href='#'">
                    <div class="iconoCarta">
                        <span class="material-symbols-outlined iconoTamaPanelMenu">
                            campaign
                        </span>
                    </div>
                    <div class="contenidoCarta">
                        <h2>Crear  eventos</h2>
                    </div>
                </div>

                <div class="carta" onclick="location.href='#'">
                    <div class="iconoCarta">
                        <span class="material-symbols-outlined iconoTamaPanelMenu">
                            visibility
                        </span>
                    </div>
                    <div class="contenidoCarta">
                        <h2>Cantidad  Vistas</h2>
                    </div>
                </div>

                <div class="carta" onclick="location.href='#'">
                    <div class="iconoCarta">
                        <span class="material-symbols-outlined iconoTamaPanelMenu">
                            schedule
                        </span>
                    </div>
                    <div class="contenidoCarta">
                        <h2>Actividad</h2>
                    </div>
                </div>

                <div class="carta" onclick="location.href='#'">
                    <div class="iconoCarta">
                        <span class="material-symbols-outlined iconoTamaPanelMenu">
                            save
                        </span>
                    </div>
                    <div class="contenidoCarta">
                        <h2>Opcion</h2>
                    </div>
                </div>
            </div>
            
        </div>
</body>

</html>