@extern('header')

<head>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="views/static/css/panelTeam.css">
</head>

@extern('navbar')
    <div class="contenedorPanel">
      <div class="busquedas">
          
          <button class="openBuscador" id="btn-abrir">Abrir buscador</button>
          <div class="buscarInformacion">
              <input class="searchInfo" type="search" placeholder="Buscar miembro">
              <input type="submit" class="iconoInfo material-symbols-outlined" value="search">
          </div>

          <div class="buscarPaginas">
              1-14 of 54
              <div class="buscarPaginas">
                  <!--
                  <button class="btnPage">Page 1 ▼</button>
                  -->
              </div>



              <button class="btnPageAtr">
                  <span class="material-symbols-outlined">
                      chevron_left
                  </span>
              </button>
              <button class="btnPageSig">
                  <span class="material-symbols-outlined">
                      chevron_right
                  </span>
              </button>
          </div>
      </div>

      <div class="filtros">
          <p class="textFiltros">Ver:</p>
          <p class="opcFiltros">
              <a href="#" class="ahrefFiltros">Todos</a>
          </p>
          <p class="opcFiltros">
              <a href="#" class="ahrefFiltros">Administradores</a>
          </p>
          <p class="opcFiltros">
              <a href="#" class="ahrefFiltros">Selectos</a>
          </p>
      </div>

      <div class="tabla">
          <div class="infoTabla">
              <table>
                  <tr class="trPrincipal">
                      <th></th>
                      <th class="tituloPrincipal">Rango</th>
                      <th class="tituloPrincipal">Nombres</th>
                      <th class="tituloPrincipal">Eliminar</th>
                  </tr>

                 
                  {{TEAM}}                 
                 
              </table>
          </div>
      </div>

  </div>
  </div>

  
<script src="../js/actionsDispositivos.js"></script>
</body>

</html>