@extern('header')


<head>
    <link rel="stylesheet" href="views/static/css/pass_olvidada.css">
</head>

    <section class="container">
        <article class="carta" >
            <header class="cabezal">
                <div class="img"></div>
            </header>
            <main class="cuerpo">
                <form action="" method="post">
                    <div class="box">
                        <p class="subtitulo">RECUPERAR CONTRASEÑA</p>
                    </div>
                    <div class="box">
                        <p>¿Olvidaste tu contraseña? No te preocupes, podemos ayudarte a restablecerla. 
                            Ingresa tu dirección de correo electrónico y te enviaremos un enlace para crear una nueva contraseña.</p>
                    </div>
                    <div class="box">
                        <div class="input-box">
                            <input type="email" name="destinatario" id="txtDestinatario" required>
                            <label for="destinatario">Destinatario</label>
                        </div>
                    </div>
                    <div class="text-register">
                        {{MSG_PASSOLVIDADA_ERROR}}
                    </div>
                    <div class="box">
                        <button class="boton-click" name="enviar" id="btnSubmit">Enviar</button>
                    </div>
                    <div class="separacion">

                        <div class="izquierda"> ------------- </div>
                        <div class="central">o</div>
                        <div class="derecha"> ------------- </div>
                    </div>
                    <div class="box-inferior">
                        <a class="boton" type="submit" href="register">Crear cuenta
                            nueva</a>
                        <a class="boton" type="submit" href="landing">Ir al inicio</a>
                    </div>
                </form>
            </main>
        </article>
    </section>
    <script type="text/javascript" src="../mp-mailer-master/funciones.js"></script>	

</body>

</html>