@extern('header')

<head>
  <link rel="stylesheet" href="views/static/css/institucion.css">
  <title>Registro institucion</title>
</head>

  <div class="main">
    <div class="signup">
      <form action="mapa" method="POST">
        <label>Registro de Institucion</label>
        <input type="text" name="nombre_institucion" placeholder="Nombre de Institucion" required="" maxlength="50">
        <input type="text" name="pais" placeholder="Pais" required="" maxlength="50">
        <input type="text" name="provincia" placeholder="Provincia" required="" maxlength="50">
        <input type="file" name="img" placeholder="img" id="imgDer" required>

        <input type="submit" value="Registrar" name="boton">
      </form>
    </div>
  </div>
  </div>
</body>

</html>