@extern('header')

<head>
    <link rel="stylesheet" href="views/static/css/tyc.css">
</head>
    <header>
        <div class="logo">
            <div class="logo-img">
                
            </div>
        </div>
        <div class="title">
            <h3>Terminos y Condiciones</h3>
            <h4>MapRoom Corp.</h4>
            <h5>Ultima modificacion: {{LAST_MOD}}</h5>
        </div>
    </header>
    <main>
        <div class="terms-conditions">
            {{TERMS_CONDITIONS}}
        </div>
        <aside>
            <h5>Indice</h5>
            {{INDEX}}
            <a href="#" onclick="back()">Volver</a>
        </aside>
    </main>
    <script>
        function back(){
            window.history.back()
        }
    </script>
</body>
</html>