@import url(./root.css);
body {

    background: var(--background);
    height: 100vh;
    width: 100%;
}
section {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.carta {
    width: 500px;
    height: auto;
    min-height: 500px;
    background-color: var(--header);
    border: solid 2px var(--accent);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px 15px 15px 15px;
    opacity: 1;
}