body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
h1 {
    font-size: 50px; 
    color: #ff5733; 
    margin: 0;
}
.container {
    margin: 20px 0;
    animation: jump 1s ease-in-out infinite alternate;
    perspective: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    animation: flip 4s linear infinite;
    transform-origin: center;
}
.shadow {
    width: 60px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    bottom: -10px; /* Ajuste para separar más la sombra */
    transform: translateY(20px); /* Separar aún más de la imagen */
    animation: shadow-scale 1s ease-in-out infinite alternate;
}
@keyframes flip {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}
@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}
@keyframes shadow-scale {
    0%, 100% { transform: scaleX(1); }
    50% { transform: scaleX(0.8); }
}